@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

$color_pr1: #748da6;
$task_field_color: #d3cedf;
$li_color: #f2d7d9;

#container {
  height: 100vh;
  width: 100%;
  background-color: $color_pr1;
  display: flex;
  align-items: center;
  flex-direction: column;

  .todo {
    margin-top: 10vh;
    width: 50%;

    h1 {
      font-size: 50px;
    }

    #form-field {
      //   width: 100%;
      #task-input {
        width: 70%;
        padding: 20px;
        border-radius: 20px;
        border: none;
        outline: none;
        font-size: 20px;
        background-color: $task_field_color;
      }

      #add-task {
        padding: 20px;
        border-radius: 20px;
        border: none;
        outline: none;
        margin: 40px;
        font-size: 20px;
        transition: 1s ease-in-out;
        &:hover {
          cursor: pointer;
          background-color: #4a2e8d;
          color: white;
        }
      }
    }

    h2 {
      font-size: 40px;
    }

    #task-list {
      ul {
        list-style: none;
        margin-top: 20px;

        li {
          display: flex;
          align-items: center;
          margin-top: 10px;
          p {
            background-color: $li_color;
            padding: 10px;
            border-radius: 10px;
            width: 70%;
            font-size: 20px;
          }

          #edit__delete {
            margin-left: 40px;

            #edit {
              width: 80px;
              padding: 10px;
              border-radius: 10px;
              margin-left: 10px;
              border: none;
              outline: none;
              font-size: 20px;
              transition: 0.5s ease-in-out;
              &:hover {
                cursor: pointer;
                background-color: rgb(51, 152, 90);
                color: white;
              }
            }

            #delete {
              @extend #edit;
              &:hover {
                cursor: pointer;
                background-color: rgb(172, 89, 89);
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
